# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales y de entorno local
*.log
*.sql
*.sqlite
*.env
*.zip

# Configuración de editores
.vscode/
.idea/

# Node y dependencias frontend si usás algo de build (opcional)
node_modules/
npm-debug.log

# Archivos de backup o temporales
*.bak
*.tmp
*.swp

